<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/solid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .search-box {
            border-radius: 25px;
            padding-left: 20px;
        }

        .category-card {
            text-align: center;
            padding: 15px;
            border-radius: 15px;
            transition: 0.3s;
            cursor: pointer;
        }

            .category-card:hover {
                background-color: #f8f9fa;
                transform: scale(1.05);
            }

        .product-card {
            border-radius: 15px;
            transition: 0.3s;
        }

            .product-card:hover {
                transform: scale(1.03);
                box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            }
    </style>
</head>
<body>
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 container-fluid">

        <a class="navbar-brand fw-bold text-success fs-3 col-lg-3 text-center">
            ECommerce Store
        </a>

        <div class="col-lg-6">
            <input type="text" id="searchInput" class="form-control search-box" placeholder="Search products..." onkeyup="searchProducts()" />
        </div>

        <div class="col-lg-3 text-center">
            <a class="btn btn-success me-2" asp-controller="User" asp-action="MyCart">My Cart</a>
            <a class="btn btn-danger" asp-controller="User" asp-action="Logout">Logout</a>
        </div>

    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script>
        function searchProducts() {
            let input = document.getElementById("searchInput").value.toLowerCase();
            let products = document.getElementsByClassName("product-item");

            for (let i = 0; i < products.length; i++) {
                let name = products[i].getAttribute("data-name").toLowerCase();

                if (name.includes(input)) {
                    products[i].style.display = "block";
                } else {
                    products[i].style.display = "none";
                }
            }
        }
    </script>

</body>
</html>