@{
    Layout = "_Layout1";
}
<h2 class="text-center text-danger">Manage Products</h2>
<div class="row" id="productsec">
</div>

<!--Update Product Form-->
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 15px; overflow: hidden;">

            <!-- Modal Header with Red Gradient -->
            <div class="modal-header" style="background: linear-gradient(45deg, #8b0000,#e52d27); color: white;">
                <h5 class="modal-title">Update Product</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="ModifyProd" method="post" enctype="multipart/form-data">
                <!-- Modal Body -->
                <div class="modal-body px-5 py-1" style="background-color: #fff5f5;">
                    <label class="fw-bold mb-2">Product ID</label>
                    <input type="number" name="p_id" id="p_id" class="form-control shadow-sm mb-2" readonly />
                    <label class="fw-bold mb-2">Product Name</label>
                    <input type="text" name="p_name" id="p_name" class="form-control shadow-sm mb-2" required placeholder="Enter Product Name" />
                    <label class="fw-bold mb-2">Select Category</label>
                    <select type="text" name="p_cat" id="p_cat" class="form-control shadow-sm mb-2" required>

                    </select>
                    <label class="fw-bold mb-2">Product Description</label>
                    <input type="text" name="p_desc" id="p_desc" class="form-control shadow-sm mb-2" required placeholder="Enter Product Description" />
                    <label class="fw-bold mb-2">Product Price</label>
                    <input type="text" name="p_price" id="p_price" class="form-control shadow-sm mb-2" required placeholder="Enter Product Price" />
                    <label class="fw-bold mb-2">Product Image</label>
                    <br /><img class="mb-2" id="p_picture" height="40" width="80" />
                    <input type="file" name="p_pic" id="p_pic" class="form-control shadow-sm mb-3" required />
                    <input type="text" id="old_pic" name="old_pic" hidden class="form-control shadow-sm" />
                </div>

                <!-- Modal Footer with Red Gradient -->
                <div class="modal-footer" style="background: linear-gradient(45deg, #8b0000,#e52d27);">
                    <button type="button" class="btn btn-secondary" style="background-color:#8b0000" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" style="background-color: #e52d27; border-color: #ff4e50;">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function(){
        LoadProducts();
        GetAllCats();
        UpdateProduct();
    })
    function LoadProducts(){
        $.ajax({
            url:'/api/APIAdmin/GetAllProduct',
            type:'GET',
            success: function(products){
                console.log(products)
                if(products != null){
                    var Product = "";
                    $.each(products,function(i,pro){
                        Product += `
    <div class="col-sm-2 p-1">
        <div class="card p-2 shadow-sm rounded-3" style="height:340px">
            <img src="/images/${pro.p_Pic}" height="140px" width="100%" class="rounded-top-2" />
            <div class="card-body">
                <div class="row mb-3">
                    <small style="font-size:16px;font-weight:bold;" class="text-center mt-2">${pro.p_Name}</small>
                    <small style="font-size:14px;" class="text-center mt-1">${pro.p_Desc}</small>
                    <small style="font-size:14px;font-weight:bold;" class="text-center mt-1">MRP : <b class="badge bg-warning text-dark" style="font-size:13px">${pro.p_Price}</b></small>
                </div>
                <div class="row">
                   <div class="col-12">
                    <div class="row">
                    <div class="col-6">
                    <center>
                        <a class="btn btn-danger" data-bs-toggle="modal" onclick="event.stopPropagation(); EditProduct(${pro.p_Id})" data-bs-target="#myModal">
                            <i class="fa-solid fa-pencil text-light"></i>
                        </a>
                    </center>
                    </div>
                    <div class="col-6">
                    <center>
                        <a class="btn btn-danger" onclick="DeleteProduct(${pro.p_Id})">
                            <i class="fa-solid fa-trash text-light"></i>
                        </a>
                    </center>
                    </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
                        `;
                    })
                }
                $("#productsec").html(Product);
            },
            error:function(){
                Swal.fire('Error!','Server Error!','error');
            }
        })
    }
    function DeleteProduct(p_id){
        var id = p_id;
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url:`/api/APIAdmin/DeleteProduct/${id}`,
                    type:'DELETE',
                    success:function(res){
                        if(res == "Success"){
                            Swal.fire('Deleted!','Product Deleted Successfully!','success');
                            LoadProducts();
                        }
                        else{
                            Swal.fire('Error!','Failed to Delete Product!','error');
                        }
                    },
                    error:function(){
                        Swal.fire('Error!','Server Error!','error');
                    }
                })
            }
        })
    }
    function EditProduct(p_id){
        $.ajax({
            url:`/api/APIAdmin/GetProductById/${p_id}`,
            type:'GET',
            success: function(result){
                if(result != null){

                    $("#p_id").val(result.p_Id);
                    $("#p_name").val(result.p_Name);
                    $("#p_cat").val(result.p_Cat);
                    $("#p_desc").val(result.p_Desc);
                    $("#p_price").val(result.p_Price);

                    $("#p_picture").attr("src", "/images/" + result.p_Pic);
                    $("#old_pic").val(result.p_Pic);
                }
                else{
                    Swal.fire("Error!",'Unable to load product','error');
                }
            },
            error: function(){
                Swal.fire("Error!",'Server Error','error');
            }
        })
    }
    function GetAllCats(){
        $.ajax({
            url:'/api/APIUser/GetAllCategory',
            type:'GET',
            success:function(result){
                if (result && result.length > 0) {

                    var opt = `<option value="" disabled selected>Select Category</option>`;

                    $.each(result, function (i, row) {
                        opt += `<option value="${row.c_ID}">${row.c_Name}</option>`;
                    });

                    $("#p_cat").html(opt);
                }
            },
            error: function(err){
                if(err != null){
                    Swal.fire('Error!','Server Error Unable to load category','error')
                }
            }
        })
    }
    function UpdateProduct(){
        $("#ModifyProd").submit(function(e){
            e.preventDefault();

            var formData = new FormData();

            formData.append("P_Id", $("#p_id").val());
            formData.append("P_Name", $("#p_name").val());
            formData.append("P_Cat", $("#p_cat").val());
            formData.append("P_Desc", $("#p_desc").val());
            formData.append("P_Price", $("#p_price").val());
            formData.append("old_pic", $("#old_pic").val());

            var file = $("#p_pic")[0].files[0];
            if(file){
                formData.append("P_Pic", file);
            }

            $.ajax({
                url:'/api/APIAdmin/UpdateProduct',
                type:'PUT',
                data: formData,
                contentType: false,
                processData: false,
                success: function(res){
                    if(res != null){
                        Swal.fire('Success','Product updated successfully','success')
                    .then(()=>{
                        $("#myModal").modal("hide");
                        LoadProducts();
                    });
                    }
                },
                error: function(){
                    Swal.fire('Error!','Server Error!','error');
                }
            });
        });
    }
</script>