@{
    Layout = "_Layout2";
}
<div class="row" id="prodbycat">
    
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {

        var id = new URLSearchParams(window.location.search).get("c_id");

        $.ajax({
            url: `/api/APIUser/GetProductByCat/${id}`,
            type: 'GET',
            success: function (products) {

                if (products && products.length > 0) {

                    var prod = "";

                    $.each(products, function (i, res) {

                        prod += `
                            <div class="col-md-3 mb-4">
                                <div class="card p-3">
                                    <img src="/images/${res.p_Pic}" height="160px">
                                    <div class="card-body">
                                        <h6>${res.p_Name}</h6>
                                        <small>${res.p_Desc}</small>
                                        <p>₹${res.p_Price}</p>
                                        <button class="btn btn-success w-100 addCart" data-id="${res.p_Id}">
                                                    ADD To Cart
                                                </button>
                                    </div>
                                </div>
                            </div>
                        `;
                    });

                    $("#prodbycat").html(prod); // ✅ FIXED HERE
                }
                else {
                    Swal.fire('Error!', 'No Products Found', 'error');
                }
            },
            error: function () {
                Swal.fire('Error!', 'Server Error unable to load Products', 'error');
            }
        });

    });
    $(document).on("click", ".addCart", function () {

        var id = $(this).data("id");

        $.ajax({
            url: `/api/APIUser/AddToCart/${id}`,
            type: "POST",
            success: function () {
                alert("Added to cart");
            }
        });
    });
</script>
